*.gcda
*.gcno
*.o
*.plist
*.swp
*~
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
coverage.info
coveragereport
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
src/Makefile
src/Makefile.in
stamp-h1
test-driver
tst/.deps/
tst/coverage.info
tst/coveragereport/
www/downloads.html
www/termsend.1.html
www/out/
