*.gcda
*.gcno
*.o
*.plist
*.swp
*~
*.lo
*.m4
*.la
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
coverage.info
coveragereport
depcomp
install-sh
ir-stats-config.h
ir-stats-config.h.in
libtool
ltmain.sh
missing
src/.deps/
src/.dirstamp
src/.libs/
src/Makefile
src/Makefile.in
src/ir_stats
stamp-h1
test-driver
tst/.deps/
tst/coverage.info
tst/coveragereport/
www/downloads.html
www/out/
www/termsend.1.html
